.header {
    text-align: center;
    color: #fff;
    background: #ABBAEA;
}

.header h1{
    padding-top: 2 rem;
    font-size: 2rem;
}

.header img {
    margin-top: 2rem;
    width: 40vw;
    height: 60vh;
}